.p1 {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
.p2 {
    color: black;
    margin-top: 10px;
}
.p3 {
    color: black;
    margin-top: 10px;
}
.p4 {
    color: black;
    margin-top: -50px;
}
.p5 {
    color: black;
    margin-top: -30px;
}
.img1{
    width: 330px;
    height: 340px;
    background-color: white;
}
.img2 {
    width: 330px;
    height: 340px;
    background-color: white;
}
.img3 {
    width: 330px;
    height: 340px;
    background-color: white;
}
.img4 {
 
    margin-top: 50px;
    margin-bottom: 50px;
    width: 350px;
    height: 260px;
    background-color: white;
}
.img5 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 200px;
    background-color: white;
}
/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h1, h2 {
    color: #000000;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    
}

/* Стили кнопок */
button {
    transition: all 0.3s ease;
  
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Карусель */
.carousel-inner img {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
    height: 20px; /* Заполнение всей высоты карусели */
    width: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color:rgb(70, 66, 66);; /* Красный фон стрелок */
    opacity: 0.8;
    width:30px ;
    height:400px ;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgb(49, 48, 48); /* Темный красный при наведении */
    opacity: 1;
}
/* Таблицы */
table {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background-color: #e5dbdb;
    color: white;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Форма */
.form-control {
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.1);
}

.btn-primary {
   background-color: #ff0000;
    border: none;
    margin-left: 10px;
}

.btn-primary:hover {
    background: linear-gradient(90deg, #ff0000, #06a7d8);
}


#ssa {
    background: rgb(0, 68, 255);
    border: none;
    color: rgb(238, 238, 238);
}

#ssa:hover {
    
    background: linear-gradient(90deg, #ff0000, #0048ff);
}
.dx{
    background-color:rgb(255, 213, 0) ;
    height:46px ;
    border-radius:5px ;
    border: none;
    color: #ffffff;
}
 .dx:hover {
    background: linear-gradient(90deg, #ff0000, #06a7d8);
}