body {
    font-family: Arial, sans-serif;
    background: url(https://avatars.mds.yandex.net/get-altay/5485499/2a0000017ce48a07587018ec6f3fd911c2ef/XXL);
    width: 100%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input {
    width: 95%;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 15px;
    background-color: #00ff73;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
button:hover {
    background-color: #00790a;
}
