body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.container {
    display: flex;
    margin-top: 10px;
}
#search-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
#search-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    background-color: #ffffff;
}
.brand {
    background-color: #4400ff;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #584fff;
    text-align: center;
    font-weight: bold;
   
}
.brand:hover {
    background-color: #b2bec3;
}
#computers-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.st {
    height: 91vh;
    overflow: hidden;
}


.all {
    background-color: rgba(24, 24, 24, 0.4);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    
}
.computer {
    background-color: white;
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top:40px ;
}
.computer img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.computer-details {
    display: none;
    margin: 10% auto;
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    
}

.open {
    display: block;
}

/* .computer-details.open {
    display: block;
    } */
.computer .details-btn {
    background-color: #0984e3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.computer .details-btn:hover {
    background-color: #74b9ff;
}
.btt{
    width:200px ;
    padding: 5px;
    height: 40px;
   /* border-radius:5px ; */
    background-color: red;
    color: white;   
    border: none;
}
.btt1 {
    width:200px ;
    padding: 5px;
    height: 40px;
   border-radius:5px ;
    background-color: yellow;
    /* color: white;    */
    border: solid rgb(181, 181, 4) 2px;
    margin-top: 10px;
    cursor: pointer;
}
.hp1 {
 display: block;
}