.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
#addComputer {
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    border: solid 1px grey;
    margin-top: 20px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
table {
    margin-top:40px ;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.btn{
    /* height:30px ; */
    border-radius:5px ;
    background-color: rgb(242, 255, 0);
    border: solid grey 1px;
    cursor: pointer;
    padding: 15px;
    width: 150px;

}
.btn2{
    /* height:30px ; */
    border-radius:5px ;
    background-color: rgb(43, 0, 255);
    border: solid grey 1px;
    padding: 15px;
    cursor: pointer;
    width: 150px;
    color: white;
}

   /* Стили для модального окна */
   .modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.form-section  select {
    padding: 5px;
    outline: none;
    border: solid 1px grey;
    margin-top: 8px;
    width: 411px;
    border-radius: 5px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 50px;
    display: flex;
    /* align-items: center; */
    border: 1px solid #888;
    width: 62%;
    height: 55%;
}
.modal-content input {
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px grey;
    outline: none;
    margin: 7px 0;
}
.form-section {
    flex: 1;
    margin: 10px;
}